# UI
streamlit
python-dotenv

# Core RAG
langchain
langchain-community
langchain-groq
langchain-core
langchain-text-splitters

# Vector DB
faiss-cpu

# Embedding
sentence-transformers

# PDF processing
pdfplumber
pypdf
python-docx

# OCR 
pytesseract
Pillow
pdf2image

# Data processing
numpy
pandas

# Optional 
rank-bm25